/* General Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: solid 1px red;
  }
/* Image Reset */
img {
    width: 100%;
    height: auto;
}

/* Body */
body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
}

/* Header */
header {
    text-align:center;
    padding: 10px;
   
}
/* Header Image */
header > img {
    width: 100px;
  
}
/* Navbar */
nav {
    display: flex;
    justify-content: center;
    background-color: rgb(169, 169, 236);
}
.section-1 {
    padding: 20px;
}



/* Footer */
footer {
    margin: 100;
    width: 100%;

}


